body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}

.header {
    background-color: darkblue;
    color: snow;
    text-align: center;
    margin: auto;
    padding: 2em;
}

main {
    background-color: lightgray;
    padding: 1em;
}